{% extends "land/layout.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
    <section class="page-title">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
          <div class="page-title-name">
              <h1>{{ page.title }}</h1>
            </div>
              <ul class="page-breadcrumb">
                <li><a href="#"><i class="fa fa-home"></i> Blog </a> <i class="fa fa-angle-double-right"></i></li>
                <li><span>{{ page.title }}</span> </li>
           </ul>
         </div>
       </div>
      </div>
    </section>
    <section class="page-section-ptb">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-8">

                <h1>{{ page.title }}</h1>
                <p class="meta">{{ page.date }}</p>

                <div class="intro">{{ page.intro }}</div>

                {{ page.body|richtext }}

              <p><a href="{{ page.get_parent.url }}">Return to blog</a></p>
            </div>
        </div>
    </div>
    </section>

{% endblock %}

