{% extends 'land/layout.html' %}
{% load static i18n %}

{% block content %}

<!--=================================
page-title-->

<section class="page-title">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
      <div class="page-title-name">
          <h1>cookies</h1>
          <p>Cookies Policy For Papermerge</p>
        </div>
          <ul class="page-breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-double-right"></i></li>
            <li><span>Cookies Policy</span> </li>
       </ul>
     </div>
   </div>
  </div>
</section>

<!--=================================
page-title -->

<section class="page-section-ptb">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8">
        <div class="section-title mb-10">
          <h2 class="title-effect">Cookies Policy</h2>
          <p>
            As is common practice with almost all professional websites this site uses
            cookies, which are tiny files that are downloaded to your computer, to improve
            your experience. This page describes what information they gather, how we use
            it and why we sometimes need to store these cookies. We will also share how
            you can prevent these cookies from being stored however this may downgrade or
            'break' certain elements of the sites functionality.</p>
            <p>
              For more general information on cookies see the 
              <a href="https://en.wikipedia.org/wiki/HTTP_cookie">Wikipedia article on HTTP Cookies</a> 
            </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 justify-content-center">
        <img src="{% static 'img/cookie.png' %}" alt="">
      </div>
    </div>

  <div class="divider py-0 mt-40 mb-30"></div>

    <div class="row">
      <div class="col-12">
        <div class="section-title mb-10 mt-30">
          <h4 class="theme-color">1. How We Use Cookies</h4>
        </div>
        <p>
        We use cookies for a variety of reasons detailed below.
        Unfortunately in most cases there are no industry standard options for disabling cookies without completely disabling the functionality and features they add to this site. It is recommended that you leave on all cookies if you are not sure whether you need them or not.
        </p>
        <h4 class="theme-color">2. Disabling Cookies </h4>
      <p>
      You can prevent the setting of cookies by adjusting the settings on
      your browser (see your browser Help for how to do this). Be aware that
      disabling all cookies will make it impossible for you to use some of our
      services like - contact form, sign in, registration for example.
      However, disabling only third party cookies - will not affect usage of
      this site at all, which means you can enable strict mode privacy in your
      browser and fully enjoy our services.
      </p>
      <div class="section-title mb-10 mt-30">
        <h4 class="theme-color">3. The Cookies We Set </h4>
      </div>
      <ul>
        <li>
          <p>Email newsletters related cookies</p>
          <p>This site offers newsletter or email subscription services and cookies may be used to remember if you are already registered and whether to show certain notifications which might only be valid to subscribed/unsubscribed users.</p>
        </li>
        <li>
          <p>Orders processing related cookies</p>
          <p>This site offers e-commerce or payment facilities and some cookies are essential to ensure that your order is remembered between pages so that we can process it properly.</p>
        </li>
        <li>
          <p>Forms related cookies</p>
          <p>When you submit data to through a form such as those found on contact pages or comment forms cookies may be set to remember your user details for future correspondence.</p>
        </li>
      </ul>

      <div class="section-title mb-10 mt-30">
        <h4 class="theme-color">Third Party Cookies</h4>
      </div>
      <p>In some special cases we also use cookies provided by trusted third parties. The following section details which third party cookies you might encounter through this site.</p>
      <p>This site uses Google Analytics which is one of the most widespread and trusted analytics solution on the web for helping us to understand how you use the site and ways that we can improve your experience. These cookies may track things such as how long you spend on the site and the pages that you visit so we can continue to produce engaging content.</p>
      <p>or more information on Google Analytics cookies, see the official Google Analytics page.</p>
      <div class="section-title mb-10 mt-30">
        <h4 class="theme-color">More Information</h4>
      </div>
        <p>Hopefully that has clarified things for you and as was previously mentioned if there is something that you aren't sure whether you need or not it's usually safer to leave cookies enabled in case it does interact with one of the features you use on our site</p>
        <p>
          However if you are still looking for more information then you can contact us through one of our preferred contact methods:
        </p>
        <p>
          Email: info@papermerge.com
        </p>
      </div>
    </div>
   </div>
  </div>
</section>
{% endblock %}