{% extends 'land/layout.html' %}
{% load static %}

{% block content %}

<section class="page-section-ptb">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8">
        <div class="section-title mb-10">
          <h2 class="title-effect">Cookies Policy</h2>
          <p>The best way is to develop and follow a plan. Start with your goals in mind and then work backwards to develop the plan. What steps are required to get you to the goals? Make the plan as detailed as possible. Try to visualize and then plan for, every possible setback. Commit the plan to paper and then keep it with you at all times. Review it regularly and ensure that every step takes you closer to your Vision and Goals. If the plan doesn’t support the vision then change it!</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 justify-content-center">
        <img src="images/objects/08.png" alt="">
      </div>
    </div>

  <div class="divider py-0 mt-40 mb-30"></div>

    <div class="row">
      <div class="col-12">
        <div class="section-title mb-10 mt-30">
          <h4 class="theme-color">Cookies Policy</h4>
        </div>
        <p>
          <span class="font-weight-bold">1.</span>
          Positive pleasure-oriented goals are much more powerful motivators than negative fear-based ones. Although each is successful separately, the right combination of both is the most powerful motivational force known to humankind.
        </p>
        <p>
          <span class="font-weight-bold">2.</span>
          Reflect and experiment until you find the right combination of motivators for your personality and your personal goals. I’ll leave you with this final motivating quote:
        </p>
        <div class="cookies-policy position-relative gray-bg p-4">
          <p class="mb-0">This section will help you understand license an item you have purchased.</p>
        </div>

      <div class="section-title mb-10 mt-30">
        <h4 class="theme-color">Ownership</h4>
      </div>
      <p>Success isn’t really that difficult. There is a significant portion of the population here in North America, that actually want and need success to be hard! Why? So they then have a built-in excuse when things don’t go their way! Pretty sad situation, to say the least.</p>
      <p>Making a decision to do something – this is the first step. We all know that nothing moves until someone makes a decision. The first action is always in making the decision to proceed. This is a fundamental step, which most people overlook. </p>
      <ul class="list list-mark pl-20">
        <li> Award-winning design</li>
        <li> Super Fast Customer support </li>
        <li> Email Design </li>
        <li> Easy to Customize pages</li>
        <li> Powerful Performance </li>
      </ul>

      <div class="section-title mb-10 mt-30">
        <h4 class="theme-color">Usage</h4>
      </div>
      <p>For those of you who are serious about having more, doing more, giving more and being more, success is achievable with some understanding of what to do, some discipline around planning and execution of those plans and belief that you can achieve your desires.</p>
      <p>The first thing to remember about success is that it is a process – nothing more, nothing less. There is really no magic to it and it’s not reserved only for a select few people. As such, success really has nothing to do with luck, coincidence or fate. It really comes down to understanding the steps in the process and then executing on those steps. </p>

      <div class="section-title mb-10 mt-30">
        <h4 class="theme-color">Refunds</h4>
      </div>
      <p>Focus is having the unwavering attention to complete what you set out to do. There are a million distractions in every facet of our lives. Telephones and e-mail, clients and managers, spouses and kids, TV, newspapers and radio – the distractions are everywhere and endless. Everyone wants a piece of us and the result can be totally overwhelming.</p>
      <p>So, how can we stay on course with all the distractions in our lives? Willpower is a good start, but it’s very difficult to stay on track simply through willpower. </p>
    </div>
   </div>
  </div>
</section>
{% endblock %}