{% extends 'land/layout.html' %}
{% load static i18n %}

{% block content %}
<section id="homesection"></section>

<!--=================================
 banner -->

<section class="slider-parallax product-banner parallax">
  <div class="slider-content-middle">
  <div class="container">
     <div class="row">
        <div class="col-lg-12 col-md-12">
         <div class="slider-content">
          <h1 class="text-white text-uppercase">{% trans "Open Source Document Management System" %}</h1>
           <h3 class="text-white mt-20">
            {% blocktrans %}
              Designed for <span class="theme-color">scanned</span> documents. Perfect software that will help you reduce paper clutter and keep your business organized.
            {% endblocktrans %}
            </h3>
           <a class="button mt-30" href="#">{% trans "Read More" %}</a>
          </div>
         </div>
        </div>
     </div>
  </div>
</section>

<!--=================================
 banner -->

<!--=================================
 product -->

<section id="about-us" class="product-about gray-bg page-section-ptb">
  <div class="container">
     <div class="row">
       <div class="col-lg-6 align-self-center">
         <img class="img-fluid mx-auto p-4" src="{% static 'img/screenshot01.png' %}" alt="">
       </div>
        <div class="col-lg-6">
         <h3>{% trans "Hey, Mr. Document, where are you?" %}</h3>
         <h4 class="mb-20">{% trans "Paper based documents have an issue. They are not there at the moment you need them!" %}</h4>
         <p>
          {% blocktrans %}
          Instead of keeping documents, receipts, letters in drawers, cabinets or around office desk you can <span class="theme-color">scan</span> and feed them to a perfectly designed software to <span class="theme-color">store, OCR and index</span> their digital version.
          {% endblocktrans %}
         </p>
         <a class="button mt-30" href="#">{% trans "Read More" %}</a>
       </div>
     </div>
  </div>
</section>

<!--=================================
 product -->

 <!--=================================
 feature -->

<section id="feature" class="product-feature white-bg page-section-ptb">
  <div class="container">
     <div class="row justify-content-center">
       <div class="col-lg-9 text-center">
        <div class="section-title">
           <h2>{% trans "It has exactly what you need." %}</h2>
         </div>
        </div>
      </div>
        <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="feature-text left-icon round feature-border mb-60">
              <div class="feature-icon">
              <span class="ti-folder"></span>
            </div>
            <div class="feature-info">
              <h4 class="theme-color">{% trans "Folder Structure" %}</h4>
              <p>{% trans "So that you can organize files any way you like." %}</p>
            </div>
          </div>
          <div class="feature-text left-icon round feature-border mb-60">
             <div class="feature-icon">
              <span class="ti-wand"></span>
            </div>
            <div class="feature-info">
              <h4 class="theme-color">{% trans "OCR Technology" %}</h4>
              <p>{% trans "It extracts text from your scanned documents to make most of them" %}</p>
            </div>
          </div>
          <div class="feature-text left-icon round feature-border xs-mb-40">
               <div class="feature-icon">
                <span class="ti-layers"></span>
              </div>
              <div class="feature-info">
                <h4 class="theme-color">{% trans "Adds Value to Your Scans" %}</h4>
                <p>{% blocktrans %} Scanned documents are more than just images. You can copy text
                  from former paper documents.{% endblocktrans %}
              </div>
            </div>
       </div>
       <div class="col-lg-4 align-self-center d-block">
        <div class="vertical-align">
           <img class="img-fluid full-width mx-auto" src="{% static 'img/product/features.png' %}" alt="">
          </div>
       </div>
         <div class="col-lg-4 col-md-6">
          <div class="feature-text left-icon round feature-border mb-60 xs-mt-20">
              <div class="feature-icon">
              <span class="ti-eye"></span>
            </div>
            <div class="feature-info">
              <h4 class="theme-color">{% trans "Open Source" %}</h4>
              <p>{% blocktrans %}Open source adds an additional layer of trust. Any security auditor, any software developer can see it, add value to it or comment on it.{% endblocktrans %}</p>
            </div>
          </div>
          <div class="feature-text left-icon round feature-border mb-60">
             <div class="feature-icon">
              <span class="ti-mobile"></span>
            </div>
            <div class="feature-info">
              <h4 class="theme-color">{% trans "Responsive Design" %}</h4>
              <p>
                {% blocktrans %}
                  Access documents from any computer device: mobile phone, tablet, laptop or desktop computer.
                {% endblocktrans %}
              </p>
            </div>
          </div>
          <div class="feature-text left-icon round feature-border">
               <div class="feature-icon">
                <span class="ti-search"></span>
              </div>
              <div class="feature-info">
                <h4 class="theme-color">{% trans "Full Text Search" %}</h4>
                <p>{% blocktrans %}Find any document by typing just a few keywords. {% endblocktrans %}</p>
              </div>
            </div>
       </div>
     </div>
  </div>
</section>

<!--=================================
 feature -->

<!--=================================
 video -->

<section class="product-video white-bg o-hidden">
  <div class="container-fluid p-0">
     <div class="row no-gutter">
       <div class="col-md-6 product-video-box bg-overlay-theme-70 parallax" style="background: url({% static 'img/screenshot02.png' %});">
         <div class="vertical-align text-center">
           <div class="play-video border-video text-center animated6 mt-50">
             <a class="view-video popup-youtube" href="https://www.youtube.com/watch?v=U_x8fOhuMTI"> <i class="fa fa-play"></i> </a>
           </div>
           <h3 class="text-uppercase text-white mt-30">{% trans "See Papermerge Demo Video" %}</h3>
         </div>
       </div>
        <div class="col-md-6 product-video-box bg-overlay-black-70 parallax">
         <div class="vertical-align text-center">
             <h3 class="text-white">
              {% blocktrans %}
              It was born out of necessity to organize paper documents. It is light, practical and easy to use. There are may people who find
              it very useful so you may find it useful too.
              {% endblocktrans %}
            </h3>
             <a class="button mt-30" href="#">{% trans "Read More" %}</a>
        </div>
       </div>
     </div>
  </div>
</section>

<!--=================================
 video -->


<!--=================================
 feature -->

<section class="product-box-feature white-bg page-section-ptb">
  <div class="container">
    <div class="row justify-content-center">
       <div class="col-lg-9 text-center">
        <div class="section-title">
           <h2>{% trans "Even More Features" %}</h2>
         </div>
        </div>
      </div>
     <div class="row">
       <div class="col-md-4 col-sm-6">
        <div class="feature-text border-box text-center mb-30">
            <div class="feature-icon">
              <i class="ti-cloud-up"></i>
            </div>
            <div class="feature-info">
              <h4 class="theme-color">{% trans "Cloud/S3 Storage" %}</h4>
              <p>{% blocktrans %}Cloud native from the start. You can choose/cofigure it to store
              all documents in S3 storage.{% endblocktrans %}</p>
            </div>
          </div>
       </div>
         <div class="col-md-4 col-sm-6">
          <div class="feature-text border-box text-center mb-30 active">
              <div class="feature-icon">
                <i class="fa fa-users"></i>
              </div>
            <div class="feature-info">
              <h4 class="theme-color">{% trans "Multi User" %}</h4>
              <p>{% blocktrans %}
                Papermerge DMS is a multi user system. You can manage rights and permissions per user.
              {% endblocktrans %}</p>
            </div>
          </div>
       </div>
       <div class="col-md-4 col-sm-6">
          <div class="feature-text border-box text-center mb-30">
              <div class="feature-icon">
                <span class="ti-infinite"></span>
              </div>
             <div class="feature-info">
                <h4 class="theme-color">{% trans "Highly Scalable" %}</h4>
                <p>{% blocktrans %}It does not matter how many documents you want to OCR, store and index. Papermerge is highly scalable.{% endblocktrans %}</p>
              </div>
          </div>
       </div>
       <div class="col-md-4 col-sm-6">
          <div class="feature-text border-box text-center mb-30">
              <div class="feature-icon">
                <span class="ti-world"></span>
              </div>
            <div class="feature-info">
              <h4 class="theme-color">{% trans "REST API" %}</h4>
              <p>{% blocktrans %}Want to import documents from SFTP account? Or maybe import all your EMail attachments? REST API is always there to assist you.{% endblocktrans %}</p>
            </div>
          </div>
       </div>
       <div class="col-md-4 col-sm-6">
          <div class="feature-text border-box text-center mb-30">
              <div class="feature-icon">
                <span class="ti-receipt"></span>
              </div>
            <div class="feature-info">
              <h4 class="theme-color">{% trans "Receipts are Welcome" %}</h4>
              <p>{% blocktrans %}
                It can handle long paper receitps as well as standard A4 paper receitps.
                {% endblocktrans %}
              </p>
            </div>
          </div>
       </div>
       <div class="col-md-4 col-sm-6">
          <div class="feature-text border-box text-center mb-30">
              <div class="feature-icon">
                <span class="ti-printer"></span>
              </div>
            <div class="feature-info">
                <h4 class="theme-color">{% trans "Scanners Best Friend" %}</h4>
                <p>
                {% blocktrans %}
                  It is a natural addition to any scanner. It supports most common scanner output formats - PDF, JPEG, PNG or TIFF
                {% endblocktrans %}
                </p>
              </div>
          </div>
       </div>
     </div>
  </div>
</section>

<!--=================================
 feature -->
<!--=================================
 custom block -->

<section id="mission" class="custom-block white-bg page-section-ptb parallax">
  <div class="container">
     <div class="row justify-content-center">
        <div class="col-md-9">
         <div class="text-center pt-80 pb-80">
             <h3 class="text-white">
              {% blocktrans %}
              <span class="theme-color">Extract</span>, index and <span class="theme-color">organize</span> all information stored in paper based documents. <span class="theme-color">Merge</span> paper based documents with digital documents into one augmented digital store.
              {% endblocktrans %}
            </h3>
             <a class="button mt-30" href="#">{% trans "More about our mission" %}</a>
        </div>
       </div>
     </div>
  </div>
</section>

<!--=================================
 custom block -->


 <!--=================================
  contact -->

 <section id="consulting" class="contact-4 page-section-ptb clearfix o-hidden">
   <div class="container">
     <div class="row">
       <div class="col-lg-6 sm-mb-30">
         <blockquote class="blockquote quote pl-0">
           {% trans "You want to use Papermerge DMS within your organization?" %}
         </blockquote>
         <p>
          {% blocktrans %}
         Sure, we are here to help you! We are a group of proffesionals specialized in document management. We can consult, assist, install and support you with your digital transition. Documents are very important asset and we know how to handle them with care.
        {% endblocktrans %}
       </p>
       </div>
       <div class="col-lg-6">
         <div class="section-title">
           <h6>{% trans "let's work together" %}</h6>
           <h2 class="title-effect">{% trans "Contact Us" %}</h2>
           <p class="mb-50">{% blocktrans %} We will advice you for the most optimal approach for your digital transition.{% endblocktrans %}</p>
         </div>
         <div id="formmessage">Success/Error Message Goes Here</div>
           <form id="contactform" role="form" method="post" action="php/contact-form.php">
             <div class="contact-form clearfix">
               <div class="section-field">
                 <input id="name" type="text" placeholder="{% trans 'Name' %}*" class="form-control" name="name">
               </div>
               <div class="section-field">
                 <input type="email" placeholder="{% trans 'Email' %}*" class="form-control" name="email">
               </div>
               <div class="section-field">
                 <input type="text" placeholder="{% trans 'Phone' %}*" class="form-control" name="phone">
               </div>
               <div class="section-field textarea">
                 <textarea class="input-message form-control" placeholder="{% trans 'Comment' %}*" rows="7" name="message"></textarea>
               </div>
               <!-- Google reCaptch-->
             <!-- <div class="g-recaptcha section-field clearfix" data-sitekey="[Add your site key]"></div> -->
               <div class="submit-button">
                 <input type="hidden" name="action" value="sendEmail">
                 <button id="submit" name="submit" type="submit" value="Send" class="button"><span> {% trans "Send message" %} </span> <i class="fa fa-paper-plane"></i></button>
               </div>
             </div>
           </form>
         <div id="ajaxloader" style="display:none"><img class="mx-auto mt-30 mb-30 d-block" src="images/pre-loader/loader-02.svg" alt=""></div>
       </div>
     </div>
   </div>
 </section>

{% endblock %}
