{% load static i18n wagtailcore_tags %}
<!DOCTYPE html>
<html lang="{% blocktrans %}en{% endblocktrans %}">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="{% blocktrans %} OCR documents document management system dms open source scans scanned pdf archives{% endblocktrans %}" />
<meta name="description" content="{% blocktrans %}Papermerge is an open source document management system (DMS) primarily designed for archiving and retrieving your digital documents. Instead of having piles of paper documents all over your desk, office or drawers - you can quickly scan them and configure your scanner to directly upload to Papermerge DMS.{% endblocktrans %}" />
<meta name="author" content="{% blocktrans %}papermerge.com{% endblocktrans %}" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>{% block title %} {% endblock %}</title>

<!-- Favicon -->
<link rel="shortcut icon" href="images/favicon.ico" />

<!-- font -->
<link  rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,500,500i,600,700,800,900|Poppins:200,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700,800">

<!-- Plugins -->
<link rel="stylesheet" type="text/css" href="{% static 'css/plugins-css.css' %}" />
<!-- Typography -->
<link rel="stylesheet" type="text/css" href="{% static 'css/typography.css' %}" />
<!-- Shortcodes -->
<link rel="stylesheet" type="text/css" href="{% static 'css/shortcodes/shortcodes.css' %}" />
<!-- Style -->
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"  />
<!-- product -->
<link rel="stylesheet" type="text/css" href="{% static 'css/product.css' %}" />
<!-- Responsive -->
<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}" />
<!-- Style customizer -->
<link rel="stylesheet" type="text/css" href="{% static 'css/skins/skin-green.css' %}" data-style="styles"/>

<link rel="stylesheet" type="text/css" href="{% static 'css/papermerge.css' %}" data-style="styles"/>

</head>

<body>

<div class="wrapper">

<!--=================================
 preloader -->

<div id="pre-loader">
    <img src="{% static 'img/pre-loader.svg' %}" alt="">
</div>

<!--=================================
 header -->

<header id="header" class="header default">
  <div class="menu" id="onepagenav">
  <!-- menu start -->
   <nav id="menu" class="mega-menu">
    <!-- menu list items container -->
    <section class="menu-list-items">
     <div class="container">
      <div class="row">
       <div class="col-lg-12 col-md-12">
        <!-- menu logo -->
        <ul class="menu-logo">
            <li>
                <a href="{% url 'land:index' %}"><img id="logo_img" class="img-fluid" src="{% static 'img/logo-white.svg' %}" alt=""> </a>
            </li>
        </ul>
        <!-- menu links -->
        <div class="menu-bar">
         <ul class="menu-links">
            <li class="active"><a href="{% url 'land:index' %}#homesection">{% trans 'Home' %}</a></li>
            <li><a href="{% url 'land:index' %}#feature">{% trans 'Features'%}</a></li>
            <li>
              <a href="javascript:void(0)">{% trans 'Resources' %}<i class="fa fa-angle-down fa-indicator"></i></a>
              <ul class="drop-down-multilevel">
                <li><a href="{% slugurl 'blog' %}">{% trans 'Blog' %}</a></li>
                <li><a href="https://github.com/ciur/papermerge">{% trans 'Source Code' %}</a></li>
                <li><a href="https://papermerge.readthedocs.io/">{% trans 'Documentation' %}</a></li>
              </ul>
            </li>
            <li><a href="{% url 'land:index' %}#mission">{% trans 'Mission' %}</a></li>
            <li><a href="{% url 'land:index' %}#consulting">{% trans 'Consulting' %}</a></li>
          </ul>
        </div>
       </div>
      </div>
     </div>
    </section>
   </nav>
  <!-- menu end -->
 </div>
</header>

<!--=================================
 header -->

<!--=================================
 preloader -->

 {% block content %}
 {% endblock %}

<!--=================================
 footer -->

<footer class="footer page-section-pt black-bg">
 <div class="container">
  <div class="row">
      <div class="col-lg-2 col-sm-6 sm-mb-30">
      <div class="footer-useful-link footer-hedding">
        <h6 class="text-white mb-30 mt-10 text-uppercase">{% trans 'Navigation' %}</h6>
        <ul>
          <li><a href="{% url 'land:index' %}">{% trans 'Home' %}</a></li>
          <li><a href="{% url 'land:index' %}#mission">{% trans 'Mission' %}</a></li>
          <li><a href="#">{% trans 'Services' %}</a></li>
          <li><a href="#">{% trans 'Contact Us' %}</a></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-2 col-sm-6 sm-mb-30">
      <div class="footer-useful-link footer-hedding">
        <h6 class="text-white mb-30 mt-10 text-uppercase">{% trans 'Useful Links' %}</h6>
        <ul>
          <li><a href="{% url 'land:privacy' %}">{% trans "Privacy Policy" %}</a></li>
          <li><a href="{% url 'land:cookies' %}">{% trans "Cookie Policy" %}</a></li>
          <li><a href="{% url 'land:imprint' %}">{% trans "Imprint" %}</a></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 xs-mb-30">
    <h6 class="text-white mb-30 mt-10 text-uppercase">{% trans "Contact Us" %}</h6>
    <ul class="addresss-info">
        <li><i class="fa fa-map-marker"></i> <p>Address: Löwenberger Str 4, 10315 Berlin, Germany</p> </li>
        <li><i class="fa fa-phone"></i> <a href="tel:+493091901281"> <span>+(49)30-91901281 </span> </a> </li>
        <li><i class="fa fa-envelope-o"></i>Email: info@papermerge.com</li>
      </ul>
    </div>
    <div class="col-lg-4 col-sm-6">
      <h6 class="text-white mb-30 mt-10 text-uppercase">{% trans "Subscribe to Our Newsletter" %}</h6>
        <p class="mb-30">{% trans "Sign Up to our Newsletter to get the latest news and offers." %}</p>
         <div class="footer-Newsletter">
          <div id="mc_embed_signup_scroll">
            <form action="php/mailchimp-action.php" method="POST" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate">
             <div id="msg"> </div>
              <div id="mc_embed_signup_scroll_2">
                <input id="mce-EMAIL" class="form-control" type="text" placeholder="Email address" name="email1" value="">
              </div>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_b7ef45306f8b17781aa5ae58a_6b09f39a55" tabindex="-1" value="">
                </div>
                <div class="clear">
                  <button type="submit" name="submitbtn" id="mc-embedded-subscribe" class="button button-border mt-20 form-button"> {% trans "Get notified" %}</button>
                </div>
              </form>
            </div>
            </div>
         </div>
       </div>
      <div class="footer-widget mt-20">
        <div class="row">
          <div class="col-lg-6 col-md-6">
           <p class="mt-15"> &copy;Copyright <span id="copyright"> 2020<a href="#"> Papermerge DMS</a>{% trans "All Rights Reserved" %} </p>
          </div>
          <div class="col-lg-6 col-md-6 text-left text-md-right">
            <div class="social-icons color-hover mt-10">
             <ul>
              <li class="social-youtube"><a href="https://www.youtube.com/channel/UC8KjEsDexEERBw_-VyDbWDg"><i class="fa fa-youtube"></i></a></li>
              <li class="social-github"><a href="https://github.com/ciur/papermerge"><i class="fa fa-github"></i></a></li>
              <li class="social-twitter"><a href="https://twitter.com/papermerge"><i class="fa fa-twitter"></i> </a></li>
             </ul>
           </div>
          </div>
        </div>
      </div>
  </div>
</footer>

<!--=================================
 footer -->

</div>



<div id="back-to-top"><a class="top arrow" href="#top"><i class="fa fa-angle-up"></i> <span>TOP</span></a></div>

<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/plugins-jquery.js' %}"></script>

<script>var plugin_path = '{% static 'js/' %}';</script>

<!-- Google recaptcha -->
<script src='https://www.google.com/recaptcha/api.js'></script>

<!-- custom -->
<script src="{% static 'js/custom.js' %}"></script>



</body>
</html>
